/* Componente: Botones */

.btn {
  display: block;
    max-width: 200px;
    min-width: 140px;
    margin: 10px auto;
    padding: 10px 0;
    font-size: 1.1rem;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary {
  background-color: transparent;
  color: var(--light-color);
}

.btn-primary:hover {
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
  transform: scale(1.04);
  background-color: rgba(0, 191, 255, 0.05);
}

.btn-secondary {
  box-shadow: 0 0 5px var(--primary-color);
}
