header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin: 10px 0;
    font-size: clamp(2rem, 3.5vw, 2.5rem);
    font-weight: 700;
    color: var(--text-color);
    padding: 0 10px;
}

.subtitle {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    color: var(--text-color);
    padding: 0 10px;
}