/* ==================== SECCIÓN WORSPACE ==================== */

.workspace-container {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 5fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.workspace-card {
    background: var(--super-light-color);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px clamp(15px, 3vw, 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Tarjetas de Demo */
.workspace-card.demo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    border: none;
    box-shadow: none;
}

.workspace-card.demo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Tarjetas de Plan (Base y Pro) */
.workspace-card.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-header svg {
    width: 30px;
    height: 30px;
}

.workspace-card h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--light-color);
}

/* Títulos específicos de plan */
.plan-base-name {
    color: var(--plan-base-color);
    font-weight: 700;
}

.plan-advanced-name {
    color: var(--plan-advanced-color);
    font-weight: 700;
}

.workspace-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

.workspace-card ul li {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: left;
    color: var(--text-color);
}

.workspace-card ul li span {
    margin: 0 10px;
}

.workspace-card p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos específicos de base/advance */
.workspace-card.plan.base {
    border-color: var(--plan-base-color);
    box-shadow: 0 0 10px var(--plan-base-color)
}

.workspace-card.plan.advanced {
    border-color: var(--plan-advanced-color);
    box-shadow: 0 0 10px var(--plan-advanced-color);
}

.workspace-card.plan:hover {
    transform: scale(1.05);
}

.workspace-card.plan.base:hover {
    box-shadow: 0 0 20px var(--plan-base-color);
}

.workspace-card.plan.advanced:hover {
    box-shadow: 0 0 20px var(--plan-advanced-color);
}

/* Selección de precio */
.select-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

select {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    background: var(--super-light-color);
    color: var(--text-color);
    cursor: pointer;
}


/* Línea legalidad */
.workspace-legal {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 40px;
}


/* --- TOOLTIP --- */
.tooltip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: bold;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease;
}

.tooltip:hover {
    background: var(--text-color);
}

/* Caja del tooltip */
.tooltiptext {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(100% + 8px);
    transform: translateY(-50%);
    width: 220px;
    background: var(--dark-color);
    color: var(--text-color);
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 300;
    overflow: visible;
    z-index: 20;
    white-space: normal;

    transition: opacity 0.25s ease;
}

/* Mostrar tooltip */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Flecha del tooltip */
.tooltiptext::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background: var(--dark-color);
}
    

/* ==================== SECCIÓN SERVICIOS INDIVIDUALES ==================== */

/* Títulos de sección */
section h2 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

section h2+p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    text-align: center;
    margin-bottom: 40px;
}

/* Contenedor de servicios individuales (2 columnas) */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 80px auto;
    padding: 0 30px;
}

/* Tarjeta de servicio individual */
.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: var(--super-light-color);
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Contenedor del contenido */
.service-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    flex-grow: 1;
}

/* Icono y título del servicio */
.service-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.service-header svg {
    color: var(--primary-color);
    flex-shrink: 0;
}

.service-header h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--light-color);
    margin: 0;
    text-align: left;
}

.service-card img {
    max-height: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    filter: blur(0.2px); 
    image-rendering: high-quality;
}

/* Descripción */
.service-card p {
    font-size: 0.95rem;
    margin-bottom: 10px;
    text-align: left;
}

/* Precio */
.service-card .price {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    color: var(--light-color);
    margin: 10px 0 15px 0;
}

.btn-service {
    padding: 5px;
    font-size: 1rem;
}

/* ==================== MEDIA QUERIES (Móvil) ==================== */

@media (max-width: 768px) {

    .workspace-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .services-container {
        grid-template-columns: 1fr;
        padding: 0 40px;
    }
}

@media (max-width: 412px) {

    .service-card {
        flex-direction: column;
        text-align: center;
    }

    .service-card img {
        width: 100%;
        max-width: none;
        max-height: 180px;
    }
}

@media (max-width: 850px) {
    .tooltiptext{
        bottom: calc(100% + 8px);
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100vw - 40px);
        white-space: normal;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    .tooltiptext.right {
        left: 0;
        right: auto;
        transform: translateX(0);
        max-width: calc(100vw - 24px);
    }

    .tooltiptext.left {
        right: 0;
        left: auto;
        transform: translateX(0);
        max-width: calc(100vw - 24px);
    }

    .tooltiptext::after {
        display: none;
    }
}

@media (max-width: 992px) {
.services-container {
        grid-template-columns: 1fr 1fr; 
        padding: 0 40px;
    }
}