/* ==================== SECCIÓN WORSPACE ==================== */

.workspace-container {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 5fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.workspace-card {
    background: var(--super-light-color);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px clamp(15px, 3vw, 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Tarjetas de Demo */
.workspace-card.demo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    border: none;
    box-shadow: none;
}

.workspace-card.demo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Tarjetas de Plan (Base y Pro) */
.workspace-card.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-header svg {
    width: 30px;
    height: 30px;
}

.workspace-card h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--light-color);
}

/* Títulos específicos de plan */
.plan-base-name {
    color: var(--plan-base-color);
    font-weight: 700;
}

.plan-advanced-name {
    color: var(--plan-advanced-color);
    font-weight: 700;
}

.workspace-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

.workspace-card ul li {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: left;
    color: var(--text-color);
}

.workspace-card ul li span {
    margin: 0 10px;
}

.workspace-card p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos específicos de base/advance */
.workspace-card.plan.base {
    border-color: var(--plan-base-color);
    box-shadow: 0 0 10px var(--plan-base-color)
}

.workspace-card.plan.advanced {
    border-color: var(--plan-advanced-color);
    box-shadow: 0 0 10px var(--plan-advanced-color);
}

.workspace-card.plan:hover {
    transform: scale(1.05);
}

.workspace-card.plan.base:hover {
    box-shadow: 0 0 20px var(--plan-base-color);
}

.workspace-card.plan.advanced:hover {
    box-shadow: 0 0 20px var(--plan-advanced-color);
}

/* Línea legalidad */
.workspace-legal {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 40px;
}

/* ==================== SECCIÓN SERVICIOS INDIVIDUALES ==================== */

/* Títulos de sección */
section h2 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

section h2+p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    text-align: center;
    margin-bottom: 40px;
}

/* Contenedor de servicios individuales (2 columnas) */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 80px auto;
}

/* Tarjeta de servicio individual */
.service-card {
    display: flex;
    align-items: stretch;
    background: var(--super-light-color);
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/* Contenido dentro de la tarjeta */
.service-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    padding: 20px;
}

/* Icono y título del servicio */
.service-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.service-header svg {
    color: var(--primary-color);
    flex-shrink: 0;
}

.service-header h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--light-color);
    margin: 0;
    text-align: left;
}

.service-card img {
    max-width: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* Descripción */
.service-card p {
    font-size: 0.95rem;
    margin-bottom: 10px;
    text-align: left;
}

/* Precio */
.service-card .price {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--light-color);
    margin-top: auto;
}

.btn-service {
    padding: 5px;
    font-size: 1rem;
}

/* ==================== MEDIA QUERIES (Móvil) ==================== */

@media (max-width: 768px) {

    .workspace-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .services-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }


}